mixin video(video)
  a.video-mixin(href=`/videos/${video.id}`)
    .video-mixin__thumb
    .video-mixin__data
      .video-photo
      .video-mixin__meta
        span.video-mixin__title= video.title
        div #{ video.owner.name }
        span #{ video.meta.views } views •
        span Created Date
