// Config
@import "./config/_variables.scss";
@import "./config/_reset.scss";

// Components
@import "./components/auth.scss";
@import "./components/header.scss";
@import "./components/footer.scss";
@import "./components/video.scss";
@import "./components/shared.scss";
@import "./components/forms.scss";
@import "./components/social-login.scss";
@import "./components/video-player.scss";

// Screens
@import "./screens/home.scss";
@import "./screens/search.scss";
@import "./screens/profile.scss";
@import "./screens/changepw.scss";
@import "./screens/edit-video.scss";
@import "./screens/edit-profile.scss";
@import "./screens/upload.scss";
@import "./screens/watch.scss";

// Defaults
a {
  color: inherit;
  text-decoration: none;
}

body {
  font-family: -apple-system, BlinkMacSystemFont, "Segoe UI", Roboto, Oxygen, Ubuntu, Cantarell, "Open Sans",
    "Helvetica Neue", sans-serif;

  color: black;
}

main {
  width: 100%;
  margin: 0 auto;
  padding: 1.2rem;
}

@keyframes goAway {
  from {
    transform: none;
    opacity: 1;
  }
  to {
    transform: translateY(-50px);
    opacity: 0;
  }
}

.message {
  position: absolute;
  z-index: 3;
  top: 10px;
  left: 0;
  right: 0;
  margin: 0 auto;
  max-width: 600px;
  padding: 10px 20px;
  border-radius: 10000px;
  text-align: center;
  animation: goAway 0.5s ease-in-out forwards;
  animation-delay: 5s;
  box-shadow: 0px 0px 5px rgba(0, 0, 0, 0.2);
  color: white;
  &.error {
    background-color: tomato;
  }
  &.sucess {
    background-color: green;
  }
}
