.editvideo {
  margin: auto;
  max-width: 800px;
  h1 {
    text-align: center;
    font-size: 1.8rem;
    margin-bottom: 1rem;
  }
  form {
    width: 100%;
    height: 100%;
    display: flex;
    flex-direction: column;
    gap: 20px;
    .form-field {
      border: 1px solid lightgray;
      border-radius: 10px;
      padding: 0.5rem;
      label {
        font-size: 12px;
        padding-bottom: 10px;
      }
      input {
        width: 100%;
        border: none;
        padding: 5px 0;
        font-size: 16px;
        &:focus,
        &:active {
          border: none;
          outline: none;
        }
      }
      textarea {
        font-family: sans-serif;
        width: 100%;
        resize: none;
        border: none;
        min-height: 100px;
        padding: 5px 0;
        &:focus,
        &:active {
          border: none;
          outline: none;
        }
      }
      .preview {
        img {
          margin-top: 10px;
          height: 100px;
        }
      }
    }

    button {
      border: none;
      border-radius: 10px;
      font-size: 16px;
      padding: 1rem;
      background-color: royalblue;
      color: white;
      &:hover {
        background-color: mediumblue;
        cursor: pointer;
        box-shadow: 1px 1px 3px rgba(0, 0, 0, 0.2);
      }
    }
  }
  .regi {
    a {
      color: royalblue;
      &:hover {
        color: mediumblue;
      }
    }
  }
}
