#videoContainer {
  width: 100%;
  position: relative;
  video {
    width: 100%;
  }
  .videoControls {
    width: 100%;
    transition: opacity 0.5s ease-in-out;
    // &.showing {
    //   display: none;
    //   opacity: 1;
    // }
    position: absolute;
    bottom: 0;
    display: flex;
    justify-content: space-between;
    padding: 10px;
    color: white;
    background-color: rgba(0, 0, 0, 0.8);

    .videoControls__play {
      display: flex;
      align-items: center;
      justify-content: space-around;
      gap: 10px;
      .videoControls__playBtn {
        &:hover {
          cursor: pointer;
        }
      }
      .videoControls__time {
        font-size: 12px;
      }
      .videoControls__volume {
        display: flex;
        align-items: center;
        span {
          i {
            font-size: 20px;
          }
        }
        .volume_bar {
          visibility: hidden;
          opacity: 0;
          width: 0;
          transition: visibility 0.3s ease-in-out, opacity 0.3s ease-in-out;
        }
        &:hover {
          cursor: pointer;
          .volume_bar {
            visibility: visible;
            opacity: 1;
            transition: visibility 0.3s ease-in-out, opacity 0.3s ease-in-out;
          }
        }
      }
    }
    .video_status {
      position: absolute;
      width: 100%;
      height: 25px;
      top: -25px;
      display: flex;
      align-items: center;
      input[type="range"] {
        width: 100%;
        cursor: pointer;
      }
    }
    .video_full {
      display: flex;
      align-items: center;
      transition: transform 0.2s ease-in-out;
      &:hover {
        cursor: pointer;
        transform: scale(1.2);
        transition: transform 0.2s ease-in-out;
      }
    }
  }
}
