extends layouts/main
include mixins/video

block content
  .tags
    each tag in tags  
      .tag= tag.name
  .video-grid
    each video in videos
      +video(video)
    else
      span.empty__message No videos found
