extends layouts/main

block content
  .login
    .box
      if errorMessage
        span= errorMessage
      h1 Sign in
      form(method="POST")
        input(placeholder="Username", name="username", type="text", required)
        input(placeholder="Password", name="password", type="password", required)
        button(type="submit", value="Login") Sign in
      .regi
        span Don't have an account?
        a(href="/join") Sign up
      a(href="/users/github/start") Continue with Github &rarr;
