extends ../layouts/main

block content
  .changepw
    .box
      h1 Change Password
      form(method="post")
        input(placeholder="Old Password", type="password", name="oldPassword")
        input(placeholder="New Password", type="password", name="newPassword")
        input(placeholder="New Password Confirmation", type="password", name="newPasswordConfirmation")
        button(value="Change Password", type="submit") Change Password
